@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* background: url('./assets/city-explorer.jpg');
    background-size: 100%;
    background-repeat: no-repeat; */
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

/* Kevin Powell says not to do 100vh for mobile responsiveness, may have to edit later */
.App {
  width: 100%;
  height: 100vh;
  position: relative;
  color: black;
}

/* Kevin Powell youtube videos! */

.App:before {
  content: '';
  background: url('./assets/city-explorer.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 1000px;
  height: 1000px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App .top {
  width: 100%;
  margin: 1rem auto;
}

.App .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(180, 180, 180, 0.5);
}

.bold {
  font-weight: 500;
}
